.video{
    margin-top: 120px;
      h2{
        font-family: $font;
        font-size: large;
        font-style:normal;
        text-transform:uppercase;
        padding-left:0px;
        margin: 40px; 
        margin-bottom: 20px;
      }
      
      .centrarVideo{
        padding-left: 40px;
       
      }
}


